<% include partials/login-head.ejs %>
<div class="container">

<div class="col-sm-6 col-sm-offset-3">
	<% for (var key in fileobject) { %>
		<a href="/folder"><%= fileobject[key] %></a>
	<% } %>

</div>
</div>
<% include partials/login-footer.ejs %>