<% include partials/login-head.ejs %>
    <div class="container">
    <div class="row">
        <h3>Folders</h3>
    </div>
    <div class="row">
        <p>
            <% for(var key in subfolobj) {%>
            <a href="/folder/user?username=<%=subfolobj[key] %>"><%= subfolobj[key] %></a> <br/>
            <% } %>
            
        </p>

        
    </div>
    </div>

    <div class="text-center">
        <p>A demo by <a href="http://scotch.io">Scotch</a>.</p>
        <p>Visit the <a href="http://scotch.io/tutorials/javascript/easy-node-authentication-setup-and-local">tutorial</a>.</p>
    </div>

</div>
<% include partials/login-footer.ejs %>